*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
font-family: url(imagenes/OpenSans-Bold.ttf);
}
aside{
    background-image: url(imagenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
}
aside .logo{
    position: absolute;
    width: 100px;
    margin: 20px;
}
aside nav{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 700px;
    margin-top: 50px;
}
aside nav a{
    text-decoration: none;
    padding: 20px;
    color: #f5f0ed;
    font-family: ;
}
